<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var test= "<%=data%>";
            test = test.replace(/&#34;/g, '"');
            alert(test);
            test=JSON.parse(test);
            //test=JSON.stringify(test);
            /*alert(test.sub_date);*/

            var flag="<%= prev%>";
            if(flag==1){
                var d=new Date(test.dob);
                function pad(s) {return (s<10) ? '0' +s : s ; }
                var dob=[ pad(d.getFullYear()),pad(d.getMonth()+1), pad(d.getDate())].join('-');
                alert(dob);
                var sub=new Date(test.sub_date);
                function pad(s) {return (s<10) ? '0' +s : s ; }
                var sub_date=[ pad(sub.getFullYear()),pad(sub.getMonth()+1), pad(sub.getDate())].join('-');
                $("#emp_type").val(test.emp_type);
                $("#ename").val(test.ename);
                $("#fname").val(test.fname);
                $("#mname").val(test.mname);
                $("#address").val(test.address);
                $("#city").val(test.city);
                $("#district").val(test.district);
                $("#state").val(test.state);
                $("#pin").val(test.pin);
                $("#email").val(test.email);
                $("#dob").val(dob);
                $("#phone_no").val(test.phone_no);
                $("#qualification").val(test.qualification);
                $("#category").val(test.category);
                $("#program").val(test.program);
                $("#sub_date").val(sub_date);
                $("[name=medium]").val([test.medium]);
                $("[name=area]").val([test.area]);
                $("[name=gov_emp]").val([test.gov_emp]);
                $("[name=gender]").val([test.gender]);
                $(':radio').click(function () {
                    return false;
                });
                $('#emp_type').attr('disabled',true);
                $('#qualification').attr('disabled',true);
                $('#category').attr('disabled',true);
                $('#program').attr('disabled',true);

                }
            }

        );

    </script>
</head>
<body>
<h1>Preview Page</h1><hr>
<table>
    <form method="get" name="form1" id="form1">
        <tr><td>Employee type</td>
            <td>
                <select name="emp_type" id="emp_type">
                    <option>---select---</option>
                    <option value=1>employee</option>
                    <option value=2>student</option>
                    <option value=3>others</option>
                </select> </td></tr>
        <tr><td>Name:
            </td><td><input type="text" name="ename" readonly id="ename" ></td></tr>

        <tr><td>Fathers name:
            </td><td><input type="text" name="fname" readonly id="fname" ></td></tr>

        <tr><td>Mothers name:
            </td><td><input type="text" name="mname" readonly id="mname"></td></tr>

        <tr><td>Contact address:
            </td><td><textarea rows="4" cols="50" name="address" readonly id="address"></textarea></td></tr>

        <tr><td>City:
            </td><td><input type="text" name="city" readonly id="city"></td></tr>

        <tr><td>District:
            </td><td><input type="text" name="district" readonly id="district"></td></tr>

        <tr><td>State:
            </td><td><input type="text" name="state" readonly id="state"></td></tr>

        <tr><td>Pin:
            </td><td><input type="text" name="pin" readonly id="pin"></td></tr>

        <tr><td>Email:
            </td><td><input type="text" name="email" readonly id="email"></td></tr>

        <tr><td><label for="dob" class="control-label">Date of birth</label></td>
            <td><input type="date" name="dob" placeholder="YYYY-MM-DD" id="dob"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/></td></tr>

        <tr><td>Telephone:
            </td><td><input type="tel" name="phone_no" id="phone_no"></td></tr>

        <tr><td><label>Academic Qualifications:
                </label></td>
            <td><select name="qualification" id="qualification">
                    <option>select</option>
                    <option value=1>10th appearing</option>
                    <option value=2>10th pass</option>
                    <option value=3>12th pass</option>
                    <option value=4>Graduate</option>
                    <option value=5>Post Graduation</option>
                    <option value=6>others</option>
                    <option value=7>diploma/ITI</option>
                </select></td></tr>

        <tr><td>Gender:</td><td>
                <input type="radio" name="gender" value=1>male
                <input type="radio" name="gender" value=2>female
                <input type="radio" name="gender" value=3>other</td></tr>


        <tr><td>Category:</td><td>
                <select name="category" id="category">
                    <option>--select--</option>
                    <option value=1>General</option>
                    <option value=2>SC</option>
                    <option value=3>ST</option>
                    <option value=4>Handicapped</option></select></td></tr>

        <tr><td>Area:</td><td>
                <input type="radio" name="area" value=1>Urban
                <input type="radio" name="area" value=2>Rural</td></tr>

        <tr><td>Medium:</td><td>
                <input type="radio" name="medium" value=1>English
                <input type="radio" name="medium" value=2>Hindi</td></tr>

        <tr><td>Program:</td><td>
                <select name="program" id="program">
                    <option>--select--</option>
                    <option value=1>nodejs</option></select></td></tr>

        <tr><td>Government employee:</td><td>
                <input type="radio" name="gov_emp" value=1>self
                <input type="radio" name="gov_emp" value=2>mother
                <input type="radio" name="gov_emp" value=3>father
                <input type="radio" name="gov_emp" value=4>both</td></tr>

        <tr><td>Date:
            </td><td><input type="date" name="sub_date" placeholder="YYYY-MM-DD" id="sub_date"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/></td></tr>
        <tr><td>  <input type="button" value="edit" name="edit" id="editButton"></td><td>
                <input type="button" value="continue" name="continue" id="continueButton">
            </td></tr>

    </form>
</table>

</body>
<script>
$( "#editButton" ).click(function() {
    alert("edit button is clicked");
    document.getElementById("form1").action = "update";
alert(document.getElementById('form1').action);
document.getElementById("form1").submit();
})
$( "#continueButton" ).click(function() {
alert("continue button is clicked");

// $("#form1").attr("action", "/continue");
document.getElementById("form1").action = "continue";
alert(document.getElementById('form1').action);
document.getElementById("form1").submit();

})
</script>

<script>
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

</script>

<!--<script>
    function goBack() {
        window.history.back();
    }
</script>-->

</html>